<html>
    <head>
        <meta charset='UTF-8'>
        <title>Home</title>
    </head>

    <body>
        <h1>CRUD de Pessoas</h1>
        <nav>
            <a href="/pessoas">Listar Pessoas</a>

            <a href="/pessoas/nova">Nova Pessoa</a>
        </nav>
    </body>
</html>